# Earthbound Overlay for Retropie 4.x - Retroarch
# Lr-GenesisPlusGX (latest version with correct aspect ratio)
# 
# Overlay created by Lilbud (May 2018)
# Original logos, artwork and trademarks are property of their respective owners. 
# NOT FOR COMMERCIAL USE
 
overlays = 1
overlay0_overlay = "Quackshot-ovl.png"
overlay0_full_screen = true
overlay0_descs = 0