# Super Mario Bros. 3 Overlay for Retropie 4.x - Retroarch
# Lr-Nestopia (latest version with correct aspect ratio) w 1080p Display
# 
# Overlay created by Lilbud (Mar 2018)
# Original logos, artwork and trademarks are property of their respective owners. 
# NOT FOR COMMERCIAL USE

overlays = 1
overlay0_overlay = "Super Mario Bros. 3_lilbud-ovl.png"
overlay0_full_screen = true
overlay0_descs = 0